* {
	box-sizing: border-box;
	margin: 0px;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

div { 
	background-color: #D4E6F1; 
	float: left;
	padding-left: 1%;
	padding-bottom: 1%;
	margin: 1%;
	border: 1px solid black;
	font-weight: 600;
}

p {
	clear:right;

}

#p1 {
	width: 70px;
	height: 30px;
	padding: 5px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	float: right;
	text-align: center;
	background-color: #ffff66
}


#p2 {
	width: 70px;
	height: 30px;
	padding: 5px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	float: right;
	text-align: center;
	background-color: #d92626;
	color: white;
}

#p3 {
	width: 70px;
	height: 30px;
	padding: 5px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	float: right;
	text-align: center;
	background-color: #26d980;
	
}


h1 {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 70px;
}

/*** Smail devices only ***/
@media (max-width: 767px) {
	div {
		width: 95%;
		margin-left: 3%;
	}
}


/*** Medium devices only ***/

@media (min-width: 768px) and (max-width: 991px) {
	#container1 {
		width: 45%;
		margin-left: 3%;
	}
	#container2 {
		width: 45%;
	}
	#container3 {
		width: 92%;
		margin-left: 3%;
	}	

}

/*** Large devices only ***/

@media (min-width: 992px) {
	div {
		width: 31%;
	}

}
